#*
 * Sonatype Nexus (TM) Open Source Version
 * Copyright (c) 2007-2013 Sonatype, Inc.
 * All rights reserved. Includes the third-party code listed at http://links.sonatype.com/products/nexus/oss/attributions.
 *
 * This program and the accompanying materials are made available under the terms of the Eclipse Public License Version 1.0,
 * which accompanies this distribution and is available at http://www.eclipse.org/legal/epl-v10.html.
 *
 * Sonatype Nexus (TM) Professional Version is available from Sonatype, Inc. "Sonatype" and "Sonatype Nexus" are trademarks
 * of Sonatype, Inc. Apache Maven is a trademark of the Apache Software Foundation. M2eclipse is a trademark of the
 * Eclipse Foundation. All other trademarks are the property of their respective owners.
 *#
#set($raptureUrl="$baseUrl/static/rapture")

<!DOCTYPE html>
<html>
<head>
  <title>Sonatype Nexus</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="description" content="Sonatype Nexus"/>

  <link rel="icon" type="image/png" href="$raptureUrl/resources/favicon.png"/>
  <!--[if IE]>
  <link rel="SHORTCUT ICON" href="$raptureUrl/resources/favicon.ico"/>
  <![endif]-->

  ##<link rel="stylesheet" type="text/css" href="$raptureUrl/resources/baseapp.css">
  <link rel="stylesheet" type="text/css" href="$raptureUrl/resources/baseapp-debug.css">
  <link rel="stylesheet" type="text/css" href="$raptureUrl/resources/rapture.css">

  <style type="text/css">
    #loading-mask {
      background-color: black;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 20000;
    }

    #loading {
      height: auto;
      position: absolute;
      top:50%;
      left:50%;
      padding: 2px;
      margin:-180px 0 0 -320px;
      z-index: 20001;
    }

    #loading .loading-indicator {
      background: black;
      color: #444;
      font: bold 12px arial, tahoma, verdana, helvetica, sans-serif;
      height: auto;
      margin: 0;
      padding: 10px;
    }

    #loading-msg {
      font-size: 18px;
      font-weight: normal;
    }
  </style>
</head>
<body class="x-border-box">

<div id="loading-mask"></div>
<div id="loading">
  <div class="loading-indicator">
    <img id="welcome-image" src="$raptureUrl/resources/images/welcome.jpg"/>
    <br/>
    <div style="text-align: center;">
      <img id="loading-spinner" src="$raptureUrl/resources/images/welcome-loader.gif"/>
      <span id="loading-msg">Loading...</span>
    </div>
  </div>
  <div id="code-load" style="display:none;">
    <script type="text/javascript">document.getElementById('loading-msg').innerHTML = 'Loading baseapp...';</script>
    ##<script type="text/javascript" src="$raptureUrl/baseapp.js"></script>
    <script type="text/javascript" src="$raptureUrl/baseapp-debug.js"></script>

    <script type="text/javascript">document.getElementById('loading-msg').innerHTML = 'Initializing...';</script>
    <script type="text/javascript" src="$baseUrl/js/extdirect.js"></script>
    <script type="text/javascript" src="$raptureUrl/app.js"></script>
  </div>
</div>

## Fields required for history management
<form id="history-form" class="x-hide-display">
  <input type="hidden" id="x-history-field"/>
  <iframe id="x-history-frame"></iframe>
</form>

</body>
</html>